@model List<Auther>
@{
    Layout = "~/views/shared/LayoutPage.cshtml";

}

@section body

{
    <form method="post">
        <span id="s"> Welcome To Auther </span>
        <div class="container" style="width: 975px; position: fixed; margin-top: 20px;">

            <div class=" row">

                <div class="col-xs-1">

                    <span> FirstName</span>

                </div>
                <div class="col-xs-4">

                    <input type="text" name="txtname" />

                </div>

                <div class="col-xs-2">

                    <input type="submit" value="search" class="btn btn-primary" asp-action="search" />

                </div>

            </div>



            <div class="row" style="margin-top:20px">

                <table class=" table table-hover ">
                    <thead>

                        <tr>

                            <th> firstname </th>
                            <th> lastname</th>
                            <th> Nationality</th>
                            <th> Image</th>
                            <th> option</th>


                        </tr>

                    </thead>
                    <tbody>
                        @foreach (Auther item in Model)
                            {
                            <tr>

                                <td> @item.firstname </td>
                                <td>@item.lastname</td>
                                <td>@item.Nationality</td>
                                <td style="width: 10px;"><img src="~/StaticFile//@item.path" style="width:30px" /> </td>


                                <td>
                                    <input type="submit" class="btn btn-primary" value="employee" asp-controller="employee" asp-action="empsearch" asp-route-dept_id="@item.Id" />
                                    <input type="submit" class="btn btn-danger" value="delete" asp-action="delete" asp-route-id="@item.Id" />
                                    <input type="submit" class="btn btn-success" value="edit" asp-action="edit" asp-route-id="@item.Id" />
                                    </td>
                            </tr>
                            }
                    </tbody>

                </table>




            </div>
            </div>
            </form>

}
